.merchantCardHeader {
  text-align: center;
}

.merchantCard {
  //background: #fff;
  //border: 1px solid #e5e5e5;
  text-align: center;
  //width: 215px;
  //height: 215px;
  //padding: 16px 16px 16px 16px;
  //text-decoration: none;
}

.merchantCardImage {
  width: 120px;
  height: 120px;
}

.pointer {cursor: pointer;}
