.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  //background-color: #2196F3;
}
.grid-item {
  //border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 2px;
  text-align: center;
}
