<div id="product" class="page-layout carded" fusePerfectScrollbar>
  <div class="top-bg mat-accent-bg"></div>
  <div class="center">
    <div class="header white-fg" fxLayout="row" fxLayoutAlign="space-between center">
      <div fxFlexOffset="20px" fxLayout="row" fxLayoutAlign="start center">
        <h2>{{title}}</h2>
      </div>
    </div>
    <!-- CONTENT CARD -->
    <div class="content-card mat-white-bg">
      <div style="margin: auto;padding:10px;" fxLayoutGap="5px" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center stretch">
          <div *ngFor="let store of stores">
              <a routerLink="/store/{{store.id}}">
                <mat-card style="margin-bottom: 5px" class="merchantCard fullwidth pointer">
                  <mat-card-content>
                    <img class="merchantCardImage"
                         src="https://lh3.googleusercontent.com/proxy/U5jgdN1yBUjRo5SKaR-EYwA0TaDufefM9NT3Zg_6CIz23JptgcXpGEILx3e-KPrwoEMkGdk8C5fip_rwHgAgAI6PiIHFy2vH2lLG0jDSbxbCitWT=s160-e365-rw">
                  </mat-card-content>
                  <mat-card-footer>
                    {{store.name}}
                  </mat-card-footer>
                </mat-card>
              </a>
          </div>
      </div>
      <!-- / CONTENT -->
    <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>
