.product-card {
  width: 200px;
}

.product-card-price {
  font-size: 18px;
  font-weight: bold;
  padding: 2px 0px 2px 0px;
}

.product-card-old-price {
  font-size: 12px;
  text-decoration: line-through;
  color: gray;
}

.mat-card-image {
  width: calc(100% + 48px);
}

mat-card-actions .mat-button, .mat-card-actions .mat-raised-button {
  margin: 0 0px;
}

.mat-card-image {
  width: calc(100% + 48px);
  margin: 0 0px 0px 0px;
}

.mat-card {
  transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
  display: block;
  position: relative;
  padding: 10px 1px 15px 1px;
  border-radius: 2px;
}

.mat-card-actions {
  margin-left: 0px;
  margin-right: 0px;
  padding: 8px 0;
  text-align: center;
}

.mat-card-content {
  text-align: center;
  padding-left: 1px;
  padding-right: 1px;
}


.mat-card>.mat-card-actions:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

mat-card-header {
  padding-bottom: 10px;
}
