<div id="product" class="page-layout carded" fusePerfectScrollbar>
  <div class="top-bg mat-accent-bg"></div>
  <div class="center">
    <div class="header white-fg" fxLayout="row" fxLayoutAlign="space-between center">
      <div fxLayout="row" fxLayoutAlign="start center">
        <button class="mr-0 mr-sm-16" mat-icon-button [routerLink]="'/store-list'">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <h2>{{title}}</h2>
      </div>
    </div>
    <!-- CONTENT CARD -->
    <div class="content-card mat-white-bg">
      <div style="height: 200px">
      <div class="card fuse-widget-front mat-white-bg mat-elevation-z2">
        <div style="padding-left: 5px; padding-right: 5px" fxLayoutGap="5px" fxLayout="row" fxLayoutAlign="space-between center">
          <mat-form-field fxFlex="40">
            <mat-select [(ngModel)]="selectedCategories" fxFlexOffset="10px" placeholder="Category" multiple>
              <mat-option *ngFor="let category of categories" value="{{category}}" >{{category}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex="50">
            <input matInput [(ngModel)]="searchText" placeholder="Search">
          </mat-form-field>
        </div>
      </div>

      <div>
        <div style="margin: auto;padding:10px;" fxFlexOffset="2px" fxLayoutGap="5px" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="start stretch">
          <div style="padding-bottom: 5px;" *ngFor="let product of products | productFilter : searchText | productCategoryFilter : selectedCategories">
              <mat-card class="product-card" *ngIf="product.active && product.price > 0">
                <mat-card-header>
                  <mat-card-title><h3>{{product.name}}</h3></mat-card-title>
                  <!--<mat-card-subtitle>-->
                    <!--<span>{{product.categories}} | </span>-->
                  <!--</mat-card-subtitle>-->
                </mat-card-header>
                <a routerLink="/product-detail/{{product.id}}">
                    <img mat-card-image *ngIf="product.thumbnail" [alt]="product.name" [src]="product.thumbnail"/>
                    <img mat-card-image *ngIf="!product.thumbnail" [src]="'assets/images/ecommerce/product-image-placeholder.png'">
                </a>
                <mat-card-content>
                  <span class="product-card-price">
                    {{product.price | currency}}
                    <!--<span class="product-card-old-price">($20,00)</span>-->
                  </span>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button (click)="addtoCart(product, 1)" class="mat-accent compose-dialog-button">Add to Cart</button>
                </mat-card-actions>
              </mat-card>
          </div>
        </div>
      </div>

      </div>
    </div>
    <!-- / CENTER -->
  </div>
</div>
