<div id="order" class="page-layout carded fullwidth" fusePerfectScrollbar>

  <!-- TOP BACKGROUND -->
  <div class="top-bg mat-accent-bg"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->
    <div class="header white-fg"
         fxLayout="row" fxLayoutAlign="space-between center">

      <!-- APP TITLE -->
      <div fxLayout="row" fxLayoutAlign="start center">

        <button class="mr-16" mat-icon-button [routerLink]="''">
          <mat-icon>arrow_back</mat-icon>
        </button>

        <div fxLayout="column" fxLayoutAlign="start start"
             *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
          <div class="h2">
            Order {{order.reference}}
          </div>
          <div class="subtitle secondary-text">
            <span>from</span>
            <!--<span>{{order.customer.firstName}} {{order.customer.lastName}}</span>-->
            <span>firstname lastname</span>
          </div>
        </div>
      </div>
      <!-- / APP TITLE -->

    </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card mat-white-bg">

      <!-- CONTENT -->
      <div class="content">

        <mat-tab-group>

          <mat-tab label="Products">
            <div class="products tab-content p-24" fusePerfectScrollbar>
              <table class="simple">
                <thead>
                <tr>
                  <th>ID</th>
                  <th>Image</th>
                  <th>Name</th>
                  <th>Price</th>
                  <th>Quantity</th>
                  <th>Total</th>
                </tr>
                </thead>
                <tbody>
                <tr class="product-row"
                    *ngFor="let shoppingCartItem of shoppingCartItems"
                    [routerLink]="">
                  <td class="w-64">
                    {{shoppingCartItem.product.id}}
                  </td>
                  <td class="w-80">
                    <img class="product-image" *ngIf="shoppingCartItem.product.thumbnail" [alt]="shoppingCartItem.product.name" [src]="shoppingCartItem.product.thumbnail"/>
                    <img class="product-image" *ngIf="!shoppingCartItem.product.thumbnail" [src]="'assets/images/ecommerce/product-image-placeholder.png'">
                  </td>
                  <td>
                    {{shoppingCartItem.product.name}}
                  </td>
                  <td>
                    {{shoppingCartItem.product.price | currency }}
                  </td>
                  <td>
                    {{shoppingCartItem.amount}}
                  </td>
                  <td>
                    {{shoppingCartItem.product.price * shoppingCartItem.amount | currency}}
                  </td>
                </tr>
                </tbody>
                <tfoot>
                  <tr class="product-row">
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>total</th>
                  </tr>
                </tfoot>
              </table>
              <button (click)="checkoutOrder(1)" class="mat-accent compose-dialog-button mat-raised-button mat-button">Complete Order</button>
            </div>
          </mat-tab>

          <mat-tab label="Invoice">

            <div class="invoice tab-content p-24" fusePerfectScrollbar>

              <div id="invoice" class="compact page-layout blank" fxLayout="row" fusePerfectScrollbar>

                <div class="invoice-container">

                  <!-- INVOICE -->
                  <div class="card">

                    <div class="header">
                      <div class="invoice-date">{{order.date}}</div>

                      <div fxLayout="row" fxLayoutAlign="space-between stretch">
                        <div class="client">
                          <div class="invoice-number" fxLayout="row" fxLayoutAlign="start center">
                            <span class="title">INVOICE</span>
                            <span class="number">{{order.reference}}</span>
                          </div>

                          <div class="info">
                            <div class="title">
                              <!--{{order.customer.firstName}}--> Sherwin
                              <!--{{order.customer.lastName}}--> Pantophlet
                            </div>
                            <!--<div class="address">{{order.customer.invoiceAddress}}</div>-->
                            <!--<div class="phone">{{order.customer.phone}}</div>-->
                            <!--<div class="email">{{order.customer.email}}</div>-->
                            <div class="address">adress</div>
                            <div class="phone">phonenumber</div>
                            <div class="email">email</div>
                          </div>
                        </div>

                        <div class="issuer mat-accent-bg" fxLayout="row" fxLayoutAlign="start center">
                          <div class="logo">
                            <img src="assets/images/logos/fuse.svg">
                          </div>

                          <div class="info">
                            <div class="title">FUSE INC.</div>
                            <div class="address">2810 Country Club Road Cranford, NJ 07016</div>
                            <div class="phone">+66 123 455 87</div>
                            <div class="email">hello@fuseinc.com</div>
                            <div class="website">www.fuseinc.com</div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="content">

                      <table class="simple invoice-table">
                        <thead>
                        <tr>
                          <th>PRODUCT</th>
                          <th class="text-right">PRICE</th>
                          <th class="text-right">QUANTITY</th>
                          <th class="text-right">TOTAL</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let shoppingCartItem of shoppingCartItems">
                          <td>
                            <div class="title">
                              {{shoppingCartItem.product.name}}
                            </div>
                          </td>
                          <td class="text-right">
                            {{shoppingCartItem.product.price | currency:'USD':'symbol'}}
                          </td>
                          <td class="text-right">
                            {{shoppingCartItem.amount}}
                          </td>
                          <td class="text-right">
                            {{shoppingCartItem.getSubTotal() | currency:'USD':'symbol'}}
                          </td>
                        </tr>
                        </tbody>
                      </table>

                      <table class="simple invoice-table-footer">
                        <tbody>
                        <tr class="subtotal">
                          <td>SUBTOTAL</td>
                          <td>{{shoppingCartTotal | currency:'USD':'symbol'}}</td>
                        </tr>
                        <tr class="tax">
                          <td>TAX</td>
                          <td>{{0 | currency:'USD':'symbol'}}</td>
                        </tr>
                        <tr class="discount">
                          <td>DISCOUNT</td>
                          <td>-{{0 | currency:'USD':'symbol'}}</td>
                        </tr>
                        <tr class="total">
                          <td>TOTAL</td>
                          <td>{{shoppingCartTotal | currency:'USD':'symbol'}}</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>

                    <div class="footer">
                      <div class="note">Please pay within 15 days. Thank you for your business.</div>
                      <div fxLayout="row" fxLayoutAlign="start start">
                        <div class="logo">
                          <img src="assets/images/logos/fuse.svg">
                        </div>
                        <div class="small-note">
                          In condimentum malesuada efficitur. Mauris volutpat placerat auctor. Ut ac congue dolor. Quisque
                          scelerisque lacus sed feugiat fermentum. Cras aliquet facilisis pellentesque. Nunc hendrerit
                          quam at leo commodo, a suscipit tellus dapibus. Etiam at felis volutpat est mollis lacinia.
                          Mauris placerat sem sit amet velit mollis, in porttitor ex finibus. Proin eu nibh id libero
                          tincidunt lacinia et eget eros.
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- / INVOICE -->

                </div>
              </div>
            </div>
          </mat-tab>

        </mat-tab-group>

      </div>
      <!-- / CONTENT -->

    </div>
    <!-- / CONTENT CARD -->

  </div>
  <!-- / CENTER -->
</div>
