<div id="product" class="page-layout carded fullwidth" fusePerfectScrollbar>
  <div class="top-bg mat-accent-bg"></div>
  <div class="center">
    <div class="header white-fg" fxLayout="row" fxLayoutAlign="space-between center">
      <div fxLayout="row" fxLayoutAlign="start center">
        <button class="mr-0 mr-sm-16" mat-icon-button [routerLink]="'/apps/e-commerce/products'">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <h2>Products</h2>
      </div>
    </div>
    <!-- CONTENT CARD -->
    <div class="content-card mat-white-bg">
      <!-- CONTENT -->
      <div class="content">
      </div>
      <!-- / CONTENT -->
    </div>
    <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>
